body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style-type: none;
    margin-right: 150px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(169, 167, 167);
}